footer {
  display: flex;

  width: 80%;
  justify-content: space-between;
  bottom: 0;
  height: 150px;
  position: fixed;
  bottom: 0;
  margin-left: 7%;
}
footer img {
  width: 100%;
  height: 30vh;
}
.image-footer {
  width: 25%;
}
.footer-button {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.footer-button button {
  background-color: black;
  color: #fff;
  padding: 5px 40px;
  border-radius: 25px;
  border: none;
  margin-top: 16%;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .image-footer {
    width: 50%;
  }
  .footer-button {
    width: 50%;
  }
  .footer-button button {
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    margin-top: 40%;
    height: 50px;
    cursor: pointer;
  }
  footer img {
    width: 100%;
    height: 200px;
  }
}
