@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roots*/
:root {
  /* Main Colors */
  --mainColor: #1f2124;
  --secondaryColor: #383a3f;
  --thirdColor: #d20c02;
  --whiteColor: #ffffff;
  /* Font Family Hammersmith One */
  --HammerSmith-Font: "Hammersmith One", sans-serif;
}
body {
  width: 100%;
}
.container {
  margin: auto;
  width: 70%;
}

.header {
  width: 100%;
  height: 90vh;
  font-family: var(--HammerSmith-Font);
  background-image: url(../images/Home_Carousel_Desktop_3840x1700_GW_Summer21_Clear_Cut_V2.webp);
  background-repeat: no-repeat;
}
.header-main {
  width: 100%;
  height: 90%;
  position: relative;
}
.header-main-child {
  text-align: center;
  width: 25%;
  height: 20%;
  position: absolute;
  top: 37.5%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header-main-child-title {
  color: var(--mainColor);
  font-weight: normal;
}
.header-main-child-title span {
  color: #d20c02;
}
.header-main-child-description {
  color: var(--secondaryColor);
  font-size: 1.2rem;
}

.header-nav {
  background-color: var(--mainColor);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 15px 100px;
  top: 0px;
  z-index: 15;
}

.header-nav-anchor {
  width: 50%;
  height: 100%;
}

.header-nav-logo {
  width: 22%;
  height: 100%;
}

.header-nav-btns {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  align-items: center;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-family: var(--HammerSmith-Font);
}
/* Main Section  */

/* Filter Bar */
.main {
  height: 4000px;
}
.filter {
  background-color: var(--mainColor);
  height: 10vh;
  display: flex;
  align-items: center;
}
.filter-input {
  /* border: 1px solid var(--whiteColor); */
  height: 4vh;
  /* border: 1px solid var(--whiteColor); */
  width: 20%;
  display: flex;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
}
.filter-input input {
  width: 85%;
  height: 100%;
  padding-left: 1rem;
  outline: none;
  border: none;
  background-color: var(--whiteColor);
  color: var(--whiteColor);
}
.filter-input-search-setting {
  background-color: var(--secondaryColor);
}
.filter-input-search-btn {
  background-color: var(--thirdColor);
}
.filter-input-search-setting,
.filter-input-search-btn {
  color: white;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.filter .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-choose-view {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filter-choose-view i {
  color: var(--whiteColor);
}
