@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Roots*/

:root {
    /* Main Colors */
    --mainColor: #1f2124;
    --secondaryColor: #383a3f;
    /* Font Family Hammersmith One */
    --HammerSmith-Font: "Hammersmith One", sans-serif;
}

body {
    width: 100%;
}

.container {
    margin: auto;
    width: 70%;
}

.header {
    width: 100%;
    height: 50vh;
    font-family: var(--HammerSmith-Font);
}

.header-nav {
    background-color: var(--mainColor);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 15px 100px;
    top: 0px;
    z-index: 15;
}

.header-nav-anchor {
    width: 50%;
    height: 100%;
}

.header-nav-logo {
    width: 22%;
    height: 100%;
}

.header-nav-btns {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    align-items: center;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-family: var(--HammerSmith-Font);
}

.AddProduct-btn {
    font-family: var(--HammerSmith-Font);
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 280px;
    border-radius: 10px;
    box-shadow: 5px 5px #adacac;
}

.form-popup {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 9;
    width: 40%;
    height: 70vh;
}

.form-container {
    width: 80%;
    height: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #222222;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: baseline;
    color: white;
    border-radius: 10px;
}

.form-container input {
    width: 100%;
    height: 8%;
    background-color: white;
    border-radius: 10px;
}

.form-container label,
h1 {
    font-size: 2rem;
    font-family: var(--HammerSmith-Font);
}

::placeholder {
    color: black;
    opacity: 0.8;
    font-family: var(--HammerSmith-Font);
}

#logo2 {
    position: left;
    width: 50%;
    height: 20%;
}

.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 48%;
    opacity: 0.8;
    border-radius: 10px;
    font-family: var(--HammerSmith-Font);
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-buttons {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* Table  */

.table-title {
    font-weight: 500;
    margin-bottom: 3vh;
}

.table {
    max-width: 50%;
    font-family: var(--HammerSmith-Font);
    border-collapse: collapse;
    font-weight: lighter;
}

td,
th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 0.5rem;
}

@media screen and (max-width: 780px) {
    .form-container {
        left: 60%;
    }
    .form-popup {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: fixed;
        top: 40%;
        left: 50%;
        z-index: 9;
        width: 50%;
        height: 500px;
    }
}

.footer {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: baseline;
    height: 15vh;
    position: fixed;
    bottom: 5px;
    margin-left: 7%;
    font-family: var(--HammerSmith-Font);
}

.image-footer .header-logo {
    padding-top: 60px;
}

.footer-button {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.footer-button .footer-list {
    width: 27%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    border: none;
    margin-top: 15%;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .footer-button {
        width: 50%;
    }
    .footer-button button {
        background-color: black;
        color: #fff;
        padding: 5px 10px;
        border-radius: 25px;
        border: none;
        margin-top: 105%;
        cursor: pointer;
    }
}