@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Roots*/

:root {
    /* Main Colors */
    --mainColor: #1F2124;
    --secondaryColor: #383A3F;
    /* Font Family Hammersmith One */
    --HammerSmith-Font: 'Hammersmith One', sans-serif;
}

body {
    width: 100%;
}

.container {
    margin: auto;
    width: 70%;
}

.header {
    width: 100%;
    height: 50vh;
    font-family: var(--HammerSmith-Font);
}

.header-nav {
    background-color: var(--mainColor);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 15px 100px;
    top: 0px;
    z-index: 15;
}

.header-nav-anchor {
    width: 50%;
    height: 100%;
}

.header-nav-logo {
    width: 22%;
    height: 100%;
}

.header-nav-btns {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    align-items: center;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-family: var(--HammerSmith-Font);
}